<link rel="stylesheet" href="widgets/sipadapter/css/dialog-polyfill.css">
<link rel="stylesheet" href="widgets/sipadapter/css/style.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script type="text/javascript" src="widgets/sipadapter/js/dialog-polyfill.js"></script>
<script type="text/javascript" src="widgets/sipadapter/js/SIPml-api.js"></script>
<script type="text/javascript" src="widgets/sipadapter/js/SIPWebRTCAccount.js"></script>
<script type="text/javascript" src="widgets/sipadapter/js/SIPWebRTCCommunication.js"></script>
<script type="text/javascript" src="widgets/sipadapter/js/sipadapter.js"></script>

<script id="tplsipadapterWidget" type="text/ejs" class="vis-tpl" data-vis-prev='' data-vis-set="sipadapter" data-vis-type="widget" data-vis-name="sipadapter">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:200px;" id="<%= this.data.attr('wid') %>">
    <div class="widget-container vis-widget-body <%== this.data.attr('class') %>">
            
      <audio id="audioRemote" <%= function(element) {  vis.binds.sipadapter.initSIP(element); } %>/>        
      
      <div>
        <div id="makeCallContainer">
          <input id="telephone-number-input" type="tel" placeholder="Telefonnummer eingeben..." />
          <div class="button-container">
            <div id="callButton" class="button-wrapper">
              <button onclick="vis.binds.sipadapter.makeCall()">
                <i class="material-icons">call</i>
                <span>Anrufen</span>
              </button>
            </div>
          </div>
        </div>  

        <div id="incomingCallContainer" class="hidden">
          <span id="callFromLabel" class="label"/>
          <div class="button-container">
            <div class="button-wrapper">
              <button onclick="vis.binds.sipadapter.acceptCall()">
                  <i class="material-icons">call</i>
                  <span>Annehmen</span>
                </button>
            </div>
            <div class="button-wrapper">
              <button onclick="vis.binds.sipadapter.declineCall()">
                <i class="material-icons">call_end</i>
                <span>Ablehnen</span>
              </button>
            </div>
          </div>
        </div>
       
        <div id="inCallContainer" class="hidden">
          <span id="inCallLabel" class="label"/>

          <div class="button-container">
            <div class="button-wrapper">
              <button onclick="vis.binds.sipadapter.endCall()">
                <i class="material-icons">call_end</i>
                <span>Auflegen</span>
              </button>
            </div>
          </div>

          <div class="button-container">
            <div class="button-wrapper">
              <button onclick="vis.binds.sipadapter.volumeDown()">
                <i class="material-icons">volume_down</i>
              </button>
              <input id="volume-slider" type="range" min="0.1" max="1" step="0.1" value="0.5" oninput="vis.binds.sipadapter.onVolumeChanged()">
              <button onclick="vis.binds.sipadapter.volumeUp()">
                <i class="material-icons">volume_up</i>
              </button>
            </div>
        </div>

      </div>

    </div>    
  </div>
  
	<dialog id="sipAccountDataDialog">
      <form method="dialog">
        <label for="accountDataDialogPrivateIdentity">Private Indentity</label>
        <input id="accountDataDialogPrivateIdentity"/>
        <br/>
        <label for="accountDataDialogPublicIdentity">Public Identity</label>
        <input id="accountDataDialogPublicIdentity"/>
        <br/>
        <label for="accountDataDialogPassword">Password</label>
        <input id="accountDataDialogPassword" type="password"/>
        <br/>
        <label for="accountDataDialogDisplayName">Display Name</label>
        <input id="accountDataDialogDisplayName"/>
        <br/>
        <label for="accountDataDialogRealm">Realm</label>
        <input id="accountDataDialogRealm"/>
        <br/>
        <label for="accountDataDialogWebsocketProxyURL">Websocket Proxy URL</label>
        <input id="accountDataDialogWebsocketProxyURL"/>
        <br/>
        <menu>
          <button id="cancel">Cancel</button>
          <button id="confirm">Confirm</button>
        </menu>
      </form>
    </dialog>

	<% vis.binds.sipadapter.init(this.data.adapterInstance);  %>
</script>